/* initliaze */
html,
body,
header,
section,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
article,
div,
img {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: 300;
}

h2 {
  font-size: 25px;
  font-weight: 400;
  color: #2d3c49;
  text-transform: uppercase;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

a {
  font-size: 15px;
  letter-spacing: -1px;
  text-decoration: none;
  color: #2d3c49;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #7d97ad;
}

/* make big parts to fit the screen */
header,
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* make sure images will not overflow */
img {
  max-width: 100%;
}

hr {
  height: 2px;
  background-color: #7d97ad;
  margin: 20px 0;
}

/* zocial font icon of http://weloveiconfonts.com/ */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

/* header set*/
header {
  margin: 20px 8px;
}

.header_title {
  text-transform: uppercase;
  text-align: right;
  height: 100px;
}

.header_title h1 {
  height: 55%;
  vertical-align: middle;
}

.logo {
  width: initial;
}

/* navigation set */
.navigation {
  margin-bottom: 15px;
  text-align: center;
}

/* main content set */
.content-title {
  width: 100%;
  text-align: center;
  color: #7d97ad;
  text-transform: none;
}

.content-content {
  margin: 0 auto;
}

.works {
  text-align: center;
  margin: 5px 0;
}

/*footer set*/
footer {
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

/*modal and fade, from bootstrap*/
.modal-open {
  overflow: hidden;
}
.modal {
  display: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
}
.modal-content {
  position: relative;
  background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}
.modal-backdrop.fade {
  opacity: 0;
  filter: alpha(opacity=0);
}
.modal-backdrop.in {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
  margin-top: -2px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}
.clearfix:before,
.clearfix:after,
.dl-horizontal dd:before,
.dl-horizontal dd:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
}
.clearfix:after,
.dl-horizontal dd:after,
.container:after,
.container-fluid:after,
.row:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
